html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'cwtexfangsong', serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	font-family: 'cwtexfangsong', serif;
}
#wrapper{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #50B584;
    background-image: -webkit-linear-gradient(140deg, #e7e879 0%, #50b584 87%);
    background-image: -moz-linear-gradient(140deg, #e7e879 0%, #50b584 87%);
    background-image: -o-linear-gradient(140deg, #e7e879 0%, #50b584 87%);
    background-image: linear-gradient(140deg, #e7e879 0%, #50b584 87%);
}
#signin_layout{
	width: 280px;
	height: 350px;
	position: absolute;
	top:0;
    right:0;
    bottom:0;
    left:0;
	margin:auto;
	background-color:rgb(250,250,250);
	border-radius:20px;
	z-index: 100;
}
#signin_layout>h1{
	margin-top: 40px;
	margin-bottom: 40px;
	color:#3CA59A;
	font-size: 18pt;
	text-align: center;
	font-family: "Microsoft JhengHei";
}
#signin_layout>h2{
	margin-bottom: 70px;
	color:rgb(150,150,150);
	font-size: 14pt;
	text-align: center;
}
#input_name{
	width: 250px;
	line-height: 30px;
	font-size: 14pt;
	padding-left: 5px;
	margin: 0 auto;
	display: block;
	border-radius:5px;
	border-style:solid;
	border-color:rgb(200,200,200);
	outline:none;
}
#input_join{
	width: 255px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	color:white;
	font-size: 14pt;
	background:#A7CD6B;
	border: none;
	border-radius:5px;
	outline:none;
	cursor: pointer;
	transition: background-color 0.5s linear;
}
#input_join:hover{
	background:#b7e076;
}
.hide{
	/**/visibility:hidden;
}
.show{ /*js*/
	visibility: visible;
}
#main{
	width: 95vw;
	height: 95vh;
	position: absolute;
	top:0;
    right:0;
    bottom:0;
    left:0;
	margin:auto;
	border-radius:20px;
	background-color:rgb(250,250,250);
	z-index: 110;
}
#write_message_wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}
#show_message_layout{
	width: 95%;
	height: 418px;
	position: absolute;
    right:20px;
    top:30px;
    left:20px;
    padding: 20px;
	background-color:white;
	border-style:solid;
	border-width: 1px;
	border-color:rgb(230, 230, 230);
	overflow-y:scroll;
	overflow-x:auto;
}
#write_layout{
	width: 95%;
	height: 80px;
	position: absolute;
    right:20px;
    bottom:30px;
    left:20px;
    background-color:rgb(230, 230, 230);
    border-radius:20px;
}
#input_write{
	width: 95%;
	height: 40px;
	font-size: 16pt;
	padding-left: 10px;
	padding-right: 60px;
	display: block;
	position: absolute;
	top:0;
    right:0;
    bottom:0;
    left:0;
	margin:auto;
	margin-top:18px;
	border-radius:10px;
	border-style:solid;
	border-color:rgb(200,200,200);
	border-width: 1px;
	outline:none; 
}
#input_send{
	width: 35px;
	height: 35px;
	color:white;
	background: url(images/send.png);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: absolute;
	top:22.5px;
	right:25px;
	border-radius:17.5px;
	border:none;
	outline: none;
	transition: background 0.5s linear;
}
#input_send:hover{
	background: url(images/send_hover.png);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: background 0.5s linear;
}
#list{
	width: 100%;
	font-size: 14pt;
	line-height: 25px;
	word-break: break-all;
}
.date_time{
	color:rgb(180,180,180);
	font-size: 9pt;
}
.name_style{
	color:#155363;
}
.name_style_system{
	color:#E65E50;
}
#green_c_1{
	position: absolute;
	bottom: -150px;
	left: -150px;
	opacity: 0.4;
	z-index: 120;
}
#green_c_2{
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.4;
	z-index: 120;
}
#tree1{
	position: absolute;
	bottom: 0;
	right: 10px;
	opacity: 0.4;
}
#tree2{
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.6;
}
/*自訂義Scroll bar 樣式*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #918871; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #918871; 
}